#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  /* เพิ่มสไตล์สำหรับเนื้อหาของคุณที่อยู่ด้านบนวิดีโอ เช่นสี ฟอนต์ */
  position: relative;
  z-index: 1;
  /* ตัวอย่าง */
  color: white;
  padding: 20px;
}
